<footer>
    <div class="f-info">
        <div class="f-socials">
            <span><i class="fa-brands fa-instagram fs-7"></i></span>
            <span><i class="fa-brands fa-facebook fs-7"></i></span>
            <span><i class="fa-brands fa-linkedin fs-7"></i></span>
        </div>
        <div class="co-name fs-5">&copy; Travio private limited</div>
        <div class="f-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>