<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travio</title>
  </head>
  <body>
    <h1>Create listing</h1>
    <form action="/listings" method="post">
      <input type="text" name="listing[title]" placeholder="Enter your title" />
      <br /><br />
      <textarea
        name="listing[description]"
        placeholder="Enter your description"
      ></textarea>
      <br /><br />
      <input
        type="number"
        name="listing[price]"
        placeholder="Enter your price"
      />
      <br /><br />
      <input
        type="text"
        name="listing[country]"
        placeholder="Enter your country"
      />
      <br /><br />
      <input
        type="text"
        name="listing[location]"
        placeholder="Enter your location"
      />
      <br /><br />
      <button>Add</button>
    </form>
  </body>
</html>
